@charset "UTF-8";
        .bodyMain {
            width: auto;
            height: 1100;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #F2F2F2;
        }

        .divMain {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .divMain2 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }

        .mainHead {
            margin-top: 40px;
        }

        .bannderText {
            font-size: 70px;
            font-family: Nanum;
            justify-content: center;
            display: flex;
            color: #262120;
        }

        .text {
            margin-top: 30px;
            font-size: 17px;
        }

        .textInput {
            width: 370px;
            height: 40px;
            font-size: 30px;
        }

        .LoginBtn {
            width: 200px;
            height: 60px;
            margin-top: 50px;
        }

        .LoginBtnText {
            font-size: 25px;
        }

        .line {
            margin-top: 50px;
        }

        .signUpMargin {
            margin-left: 20px;
            margin-right: 20px;
            color: white;
        }

        a {
            text-decoration: none;
            color: black;
        }
    